* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: #000 2px solid;
    border-top: #000 2px solid;
}
.title-container{
  padding: 10px;
  background-color: #000;
}
.site-title {
    background-color: #000;
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.btn.btn-secondary {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn.btn-secondary:hover {
    background-color: #5a6268;
}

.search-sort-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

.sort-select {
    width: 28%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

.dataContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.site-footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
}

.site-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}